/*Scroll bar things*/
::-webkit-scrollbar {
    background-color: rgb(177, 177, 177);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px;
    background-color: grey;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: rgb(109, 109, 109);
}
::-webkit-scrollbar-corner{
    background-color: grey;
}

/*Color variables*/
:root{
    --background-color: rgb(34, 34, 34);
    --darkest-grey: rgb(53, 53, 53);
    --second-darkest-grey: rgb(66, 66, 66);
    --third-darkest-grey: rgb(72, 72, 72);
    --fourth-darkest-grey: rgb(100, 100, 100);
    --fifth-darkest-grey: rgb(121, 121, 121);
    --button-highlight: rgb(156, 156, 156);
    --button-color: rgb(172, 172, 172);
    --red-highlight: rgb(100, 26, 26);
    --drop-zone-line-color: grey;
    --drop-zone-line-highlight: white;
    --text-color: white;
    --font-family: "Trebuchet MS", Helvetica, sans-serif;
    --transition-time: 0.25s;
}

button{
    background-color: var(--button-color);
    border: 0px;
    outline: 0;
    width: 42%;
    height: 40vh;
    margin: 20px;
}
button:hover{
    background-color: var(--button-highlight);
    outline: 0;
}
button:focus{
    outline: 0;
}

/*Form Styling*/
form p{
    font-family: var(--font-family);
    font-size: 20px;
    color: var(--text-color);
    padding: 0px 0px 20px 0px;
    margin: 0px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 0px;
    background-color: var(--fifth-darkest-grey);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 16px;
    color: black;
}
input[type=text]:hover, select:hover, input[type=text]:focus, select:focus{
    outline: 0
}
input[type=button] {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--button-color);
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}
input[type=button]:hover{
    background-color: var(--button-highlight);
}
input[type=button]:focus{
    outline: 0;
}
form {
    border-radius: 5px;
    background-color: var(--darkest-grey);
    padding: 20px;
}

#container{
    margin: 10px 16px 10px 16px;
}

body{
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: rgb(240, 240, 240);
    margin: 0px;
}